<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layoutclient}">
  <head>
    <title>PP </title>
  </head>
  <body class="nav-md">
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content2">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Soyez les Bienvenue !</h3>
              </div>              
            </div>

          
             <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> <small>entrez les informations de votre vehicule !</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                 
                 
        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="#" data-th-action="@{addvoitureClient}" data-th-object="${vehicule}" method="post">

                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="matricule">Matricule <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                           <input type="text" name="matricule" class="form-control"   id="matricule" placeholder="matricule">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="couleur">couleur <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="text" name="couleur" class="form-control"  id="couleur" placeholder="Sa Couleur ">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label for="marque" class="col-form-label col-md-3 col-sm-3 label-align">Marque </label>
                        <div class="col-md-6 col-sm-6 ">
                         <input type="text" name="marque" class="form-control"  id="marque" placeholder="Sa Marque ">
                        </div>
                      </div>
                                        
                       <div class="item form-group">
                        <label for="modele" class="col-form-label col-md-3 col-sm-3 label-align">Modele <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="text" name="modele" class="form-control"  id="modele" placeholder="Son Modele">  
                        </div>
                      </div>                      
                      <div class="ln_solid"></div>
                      <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">                         
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>               

                  </div>
                </div>
              </div>
            </div>
           </div>
         </div>
           
        <!-- /page content -->
  </body>
</html>
