<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layoutclient}">
  <head>
       <title>... | </title>

   
  </head>

  <body class="nav-md">
            <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content2">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3> Notre localisation Soyez les bienvenue </h3>
              </div>             
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3  profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive" src="images/Capture.PNG" style="width: 900px;height: 500px;" alt="Avatar" title="Change the avatar">
                        </div>
                      </div>
                     

                    </div>
                    <div class="col-md-9 col-sm-9 ">
              <!-- start of user-activity-graph -->
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->      
  </body>
</html>