<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layoutclient}">
  <head>
       <title>... | </title>

   
  </head>

  <body class="nav-md">
            <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content2">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3> Abonnement</h3>
              </div>             
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3  profile_left">
                     <form data-th-object="${abonnement}"> 
                      <h3>WELCOME in:<label for="description" data-th-text="*{description}">-</label></h3>
                      <div class="x_content">
                 
                      <ul class="list-unstyled timeline">
                       <li>
                      <div class="block">
                        <div class="tags">
                          <a href="" class="tag">
                            <span><label for="description" data-th-text="*{description}">-</label></span>
                          </a>
                        </div>
                        <div class="block_content">
                          <h2 class="title">
                                          <a>Pour un engagement de <label for="tarif" data-th-text="*{tarif}">-</label> Dhs</a>
                                      </h2>                       
                          <p class="excerpt">vous beneficiez de <label for="nbjour" data-th-text="*{nbjour}">-</label> jour, avec un ensemble d'avantage de notre parking KechparK</p>
                          
                        </div>
                      </div>
                    </li>
                    </ul>
                     <a  data-th-href="@{/addCf}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>s'abonner</a>
                      <br />
                      </div>
                    </form>
                    
             
                    </div>
                    <div class="col-md-9 col-sm-9 ">
              <!-- start of user-activity-graph -->
                      <div id="graph_bar" style="width:100%; height:280px;"></div>
                      <!-- end of user-activity-graph -->

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">             
                          
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Cher Client</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">                        
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <p>Votre espace client vous permet d acceder a nos services en ligne 24h/24 et 7j/7. Il vous permet notamment de :
								Gerer votre offre.
								Consulter nos services.
								la securisation total et garantie.
								
								Beneficier d une assistance en ligne regulierement actualisee avec des informations pratiques qui vous aident a profiter pleinement des offres KechparK.
								Acceder a des avantages exclusifs, en choisissant l'abonnement convenable pour vous.

							Pour en profiter, connectez-vous sur votre espace client, en renseignant votre informations en cliquant sur le bouton a cote. </p>
							
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->      
  </body>
</html>